<a href="https://colab.research.google.com/github/LuisPalominoR/Clase-5/blob/main/Edificaciones_PROTO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://i.imgur.com/6U6q5jQ.png"/>

# Data Cleaning in Python

The data we have collected may have several issues we need to identify:

* Are there missing values? How are they represented?
* Is the format of the table ready to be analyzed? Are there other elements not relevant but distracting or likely to confuse our work?
* Is every cell well written? are there characters that may not allow future analysis?

Let's check some data:

In [1]:
import os

In [2]:
pip show openpyxl

Name: openpyxl
Version: 3.1.2
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: /usr/local/lib/python3.10/dist-packages
Requires: et-xmlfile
Required-by:

In [3]:
import pandas as pd

In [4]:
folder="data"
fileName="Edificaciones.xlsx"
fileToRead=os.path.join(folder,fileName)

In [5]:
fileName="Edificaciones.xlsx"
fileToRead=os.path.join(folder,fileName)

dataExcel=pd.read_excel(fileToRead)

In [6]:
df_ordenado = dataExcel.sort_values(by='CODIGO_\nENTIDAD', ascending=True)

In [7]:
df_ordenado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 0 to 179
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CODIGO_
ENTIDAD           180 non-null    int64
 1   CODIGO_
UBIGEO            180 non-null    int64
 2   CODIGO_
PAIS              180 non-null    object
 3   DEPARTAMENTO              180 non-null    object
 4   PROVINCIA                 180 non-null    object
 5   DISTRITO                  180 non-null    object
 6   NOMBRE_UO                 180 non-null    object
 7   GOBIERNO_LOCAL            180 non-null    object
 8   RUC_GOBIERNO
_LOCAL       180 non-null    int64
 9   NUMERO_
EXPEDIENTE        180 non-null    object
 10  FECHA_
INICIO_
TRAMITE    86 non-null     object
 11  FECHA_
EMISION_TRAMITE    168 non-null    object
 12  NRO_RESOLUCION_
LICENCIA  171 non-null    object
 13  TIPO_DOC_
SOLICITANTE     151 non-null    object
 14  NRO_DOC_
SOLICITANTE      151 non-null    object
 15  UBICACION_PREDIO          180 non-null    object
 16  ZONIFICACION_
PREDIO      150 non-null    object
 17  TIPO_DE_USO               150 non-null    object
 18  TIPO_ALTURA               180 non-null    object
 19  DETALLE_ALTURA            150 non-null    object
 20  MODALIDAD_
APROBACION     150 non-null    object
 21
TIPO_OBRA                149 non-null    object
 22  OBRA_
NUEVA               150 non-null    object
 23  OBRA_
DEMOLICIÓN          149 non-null    object
 24  OBRA_
REMODELACIÓN        150 non-null    object
 25  OBRA_
AMPLIACIÓN          150 non-null    object
 26  OBRA_
REFACCIÓN           150 non-null    object
 27  OBRA_
CERCO               150 non-null    object
 28  AREA_TOTAL_
CONSTRUIDA    150 non-null    object
 29  VALOR_
OBRA               150 non-null    object
 30  FECHA_
CORTE              180 non-null    int64
dtypes: int64(4), object(27)
memory usage: 45.0+ KB

Let's keep the first one:

## 1. Clean headers

In [8]:
# check headers
df_ordenado.columns

Index(['CODIGO_\nENTIDAD', 'CODIGO_\nUBIGEO', 'CODIGO_\nPAIS', 'DEPARTAMENTO',
       'PROVINCIA', 'DISTRITO', 'NOMBRE_UO', 'GOBIERNO_LOCAL',
       'RUC_GOBIERNO\n_LOCAL', 'NUMERO_\nEXPEDIENTE',
       'FECHA_\nINICIO_\nTRAMITE', 'FECHA_\nEMISION_TRAMITE',
       'NRO_RESOLUCION_\nLICENCIA', 'TIPO_DOC_\nSOLICITANTE',
       'NRO_DOC_\nSOLICITANTE', 'UBICACION_PREDIO', 'ZONIFICACION_\nPREDIO',
       'TIPO_DE_USO', 'TIPO_ALTURA', 'DETALLE_ALTURA',
       'MODALIDAD_\nAPROBACION', '\nTIPO_OBRA', 'OBRA_\nNUEVA',
       'OBRA_\nDEMOLICIÓN ', 'OBRA_\nREMODELACIÓN ', 'OBRA_\nAMPLIACIÓN ',
       'OBRA_\nREFACCIÓN ', 'OBRA_\nCERCO ', 'AREA_TOTAL_\nCONSTRUIDA ',
       'VALOR_\nOBRA', 'FECHA_\nCORTE'],
      dtype='object')

Cleaning requires a strategy. In the strings above your main problem is the footnotes and the quasi-duplicates.

In [9]:
# the quasi duplicates
nColumns=df_ordenado.columns[df_ordenado.columns.str.contains('_\n')]
nColumns

Index(['CODIGO_\nENTIDAD', 'CODIGO_\nUBIGEO', 'CODIGO_\nPAIS',
       'NUMERO_\nEXPEDIENTE', 'FECHA_\nINICIO_\nTRAMITE',
       'FECHA_\nEMISION_TRAMITE', 'NRO_RESOLUCION_\nLICENCIA',
       'TIPO_DOC_\nSOLICITANTE', 'NRO_DOC_\nSOLICITANTE',
       'ZONIFICACION_\nPREDIO', 'MODALIDAD_\nAPROBACION', 'OBRA_\nNUEVA',
       'OBRA_\nDEMOLICIÓN ', 'OBRA_\nREMODELACIÓN ', 'OBRA_\nAMPLIACIÓN ',
       'OBRA_\nREFACCIÓN ', 'OBRA_\nCERCO ', 'AREA_TOTAL_\nCONSTRUIDA ',
       'VALOR_\nOBRA', 'FECHA_\nCORTE'],
      dtype='object')

In [10]:
# the not quasi duplicates
df_ordenado.columns[~df_ordenado.columns.str.contains('_\n')]

Index(['DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'NOMBRE_UO', 'GOBIERNO_LOCAL',
       'RUC_GOBIERNO\n_LOCAL', 'UBICACION_PREDIO', 'TIPO_DE_USO',
       'TIPO_ALTURA', 'DETALLE_ALTURA', '\nTIPO_OBRA'],
      dtype='object')

Let's keep the last ones without the footnotes, let's _divide and conquer_ using **split()**:

In [11]:
# save the last one but the first ones:
notnColumns=df_ordenado.columns[~df_ordenado.columns.str.contains('\n')][3:]
notnColumns

Index(['NOMBRE_UO', 'GOBIERNO_LOCAL', 'UBICACION_PREDIO', 'TIPO_DE_USO',
       'TIPO_ALTURA', 'DETALLE_ALTURA'],
      dtype='object')

NOT N COLUMNS

In [12]:
# using list comprehension
notnColumns1=[element.split('_') for element in notnColumns]
notnColumns1

[['NOMBRE', 'UO'],
 ['GOBIERNO', 'LOCAL'],
 ['UBICACION', 'PREDIO'],
 ['TIPO', 'DE', 'USO'],
 ['TIPO', 'ALTURA'],
 ['DETALLE', 'ALTURA']]

In [13]:
notnColumns2 = []

In [14]:
for element in notnColumns1:
    nElement = ' '.join(element)
    notnColumns2.append(nElement)
notnColumns2

['NOMBRE UO',
 'GOBIERNO LOCAL',
 'UBICACION PREDIO',
 'TIPO DE USO',
 'TIPO ALTURA',
 'DETALLE ALTURA']

RUC GOBIERNO LOCAL

In [15]:
RUCnColumns=df_ordenado.columns[df_ordenado.columns.str.contains('RUC')]
RUCnColumns

Index(['RUC_GOBIERNO\n_LOCAL'], dtype='object')

In [16]:
RUCnColumns1=[element.split('\n_') for element in RUCnColumns]
RUCnColumns1

[['RUC_GOBIERNO', 'LOCAL']]

In [17]:
RUCnColumns2 = []

In [18]:
for element in RUCnColumns1:
    RUCElement = ' '.join(element)
    RUCnColumns2.append(RUCElement)
RUCnColumns2

['RUC_GOBIERNO LOCAL']

In [19]:
RUCnColumns3=[element.split('_') for element in RUCnColumns2]
RUCnColumns3

[['RUC', 'GOBIERNO LOCAL']]

In [20]:
RUCnColumns4 = []

In [21]:
for element in RUCnColumns3:
    RUCElement1 = ' '.join(element)
    RUCnColumns4.append(RUCElement1)
RUCnColumns4

['RUC GOBIERNO LOCAL']

TIPO DE OBRA

In [22]:
OBRAnColumns=df_ordenado.columns[df_ordenado.columns.str.contains('TIPO_OBRA')]
OBRAnColumns

Index(['\nTIPO_OBRA'], dtype='object')

In [23]:
OBRAnColumns1=[element.strip('\n') for element in OBRAnColumns]
OBRAnColumns1

['TIPO_OBRA']

In [24]:
OBRAnColumns2=[element.split('_') for element in OBRAnColumns1]
OBRAnColumns2

[['TIPO', 'OBRA']]

In [25]:
OBRAnColumns3 = []

In [26]:
for element in OBRAnColumns2:
    OBRAElement1 = ' '.join(element)
    OBRAnColumns3.append(OBRAElement1)
OBRAnColumns3

['TIPO OBRA']

N COLUMNS

In [27]:
nColumnsa=[element.strip(' ') for element in nColumns]
nColumnsa

['CODIGO_\nENTIDAD',
 'CODIGO_\nUBIGEO',
 'CODIGO_\nPAIS',
 'NUMERO_\nEXPEDIENTE',
 'FECHA_\nINICIO_\nTRAMITE',
 'FECHA_\nEMISION_TRAMITE',
 'NRO_RESOLUCION_\nLICENCIA',
 'TIPO_DOC_\nSOLICITANTE',
 'NRO_DOC_\nSOLICITANTE',
 'ZONIFICACION_\nPREDIO',
 'MODALIDAD_\nAPROBACION',
 'OBRA_\nNUEVA',
 'OBRA_\nDEMOLICIÓN',
 'OBRA_\nREMODELACIÓN',
 'OBRA_\nAMPLIACIÓN',
 'OBRA_\nREFACCIÓN',
 'OBRA_\nCERCO',
 'AREA_TOTAL_\nCONSTRUIDA',
 'VALOR_\nOBRA',
 'FECHA_\nCORTE']

In [28]:
nColumns1=[element.split('_\n') for element in nColumnsa]
nColumns1

[['CODIGO', 'ENTIDAD'],
 ['CODIGO', 'UBIGEO'],
 ['CODIGO', 'PAIS'],
 ['NUMERO', 'EXPEDIENTE'],
 ['FECHA', 'INICIO', 'TRAMITE'],
 ['FECHA', 'EMISION_TRAMITE'],
 ['NRO_RESOLUCION', 'LICENCIA'],
 ['TIPO_DOC', 'SOLICITANTE'],
 ['NRO_DOC', 'SOLICITANTE'],
 ['ZONIFICACION', 'PREDIO'],
 ['MODALIDAD', 'APROBACION'],
 ['OBRA', 'NUEVA'],
 ['OBRA', 'DEMOLICIÓN'],
 ['OBRA', 'REMODELACIÓN'],
 ['OBRA', 'AMPLIACIÓN'],
 ['OBRA', 'REFACCIÓN'],
 ['OBRA', 'CERCO'],
 ['AREA_TOTAL', 'CONSTRUIDA'],
 ['VALOR', 'OBRA'],
 ['FECHA', 'CORTE']]

In [29]:
nColumns2 = []

In [30]:
for element in nColumns1:
    nElement2 = ' '.join(element)
    nColumns2.append(nElement2)
nColumns2

['CODIGO ENTIDAD',
 'CODIGO UBIGEO',
 'CODIGO PAIS',
 'NUMERO EXPEDIENTE',
 'FECHA INICIO TRAMITE',
 'FECHA EMISION_TRAMITE',
 'NRO_RESOLUCION LICENCIA',
 'TIPO_DOC SOLICITANTE',
 'NRO_DOC SOLICITANTE',
 'ZONIFICACION PREDIO',
 'MODALIDAD APROBACION',
 'OBRA NUEVA',
 'OBRA DEMOLICIÓN',
 'OBRA REMODELACIÓN',
 'OBRA AMPLIACIÓN',
 'OBRA REFACCIÓN',
 'OBRA CERCO',
 'AREA_TOTAL CONSTRUIDA',
 'VALOR OBRA',
 'FECHA CORTE']

In [31]:
nColumns3=[element.split('_') for element in nColumns2]
nColumns3

[['CODIGO ENTIDAD'],
 ['CODIGO UBIGEO'],
 ['CODIGO PAIS'],
 ['NUMERO EXPEDIENTE'],
 ['FECHA INICIO TRAMITE'],
 ['FECHA EMISION', 'TRAMITE'],
 ['NRO', 'RESOLUCION LICENCIA'],
 ['TIPO', 'DOC SOLICITANTE'],
 ['NRO', 'DOC SOLICITANTE'],
 ['ZONIFICACION PREDIO'],
 ['MODALIDAD APROBACION'],
 ['OBRA NUEVA'],
 ['OBRA DEMOLICIÓN'],
 ['OBRA REMODELACIÓN'],
 ['OBRA AMPLIACIÓN'],
 ['OBRA REFACCIÓN'],
 ['OBRA CERCO'],
 ['AREA', 'TOTAL CONSTRUIDA'],
 ['VALOR OBRA'],
 ['FECHA CORTE']]

In [32]:
nColumns4 = []

In [33]:
for element in nColumns3:
    elementn = ' '.join(element)
    nColumns4.append(elementn)
nColumns4

['CODIGO ENTIDAD',
 'CODIGO UBIGEO',
 'CODIGO PAIS',
 'NUMERO EXPEDIENTE',
 'FECHA INICIO TRAMITE',
 'FECHA EMISION TRAMITE',
 'NRO RESOLUCION LICENCIA',
 'TIPO DOC SOLICITANTE',
 'NRO DOC SOLICITANTE',
 'ZONIFICACION PREDIO',
 'MODALIDAD APROBACION',
 'OBRA NUEVA',
 'OBRA DEMOLICIÓN',
 'OBRA REMODELACIÓN',
 'OBRA AMPLIACIÓN',
 'OBRA REFACCIÓN',
 'OBRA CERCO',
 'AREA TOTAL CONSTRUIDA',
 'VALOR OBRA',
 'FECHA CORTE']

In [34]:
change={old:new for old,new in zip(notnColumns,notnColumns2)}
change

{'NOMBRE_UO': 'NOMBRE UO',
 'GOBIERNO_LOCAL': 'GOBIERNO LOCAL',
 'UBICACION_PREDIO': 'UBICACION PREDIO',
 'TIPO_DE_USO': 'TIPO DE USO',
 'TIPO_ALTURA': 'TIPO ALTURA',
 'DETALLE_ALTURA': 'DETALLE ALTURA'}

In [35]:
change2={old:new for old,new in zip(nColumns,nColumns4)}
change2

{'CODIGO_\nENTIDAD': 'CODIGO ENTIDAD',
 'CODIGO_\nUBIGEO': 'CODIGO UBIGEO',
 'CODIGO_\nPAIS': 'CODIGO PAIS',
 'NUMERO_\nEXPEDIENTE': 'NUMERO EXPEDIENTE',
 'FECHA_\nINICIO_\nTRAMITE': 'FECHA INICIO TRAMITE',
 'FECHA_\nEMISION_TRAMITE': 'FECHA EMISION TRAMITE',
 'NRO_RESOLUCION_\nLICENCIA': 'NRO RESOLUCION LICENCIA',
 'TIPO_DOC_\nSOLICITANTE': 'TIPO DOC SOLICITANTE',
 'NRO_DOC_\nSOLICITANTE': 'NRO DOC SOLICITANTE',
 'ZONIFICACION_\nPREDIO': 'ZONIFICACION PREDIO',
 'MODALIDAD_\nAPROBACION': 'MODALIDAD APROBACION',
 'OBRA_\nNUEVA': 'OBRA NUEVA',
 'OBRA_\nDEMOLICIÓN ': 'OBRA DEMOLICIÓN',
 'OBRA_\nREMODELACIÓN ': 'OBRA REMODELACIÓN',
 'OBRA_\nAMPLIACIÓN ': 'OBRA AMPLIACIÓN',
 'OBRA_\nREFACCIÓN ': 'OBRA REFACCIÓN',
 'OBRA_\nCERCO ': 'OBRA CERCO',
 'AREA_TOTAL_\nCONSTRUIDA ': 'AREA TOTAL CONSTRUIDA',
 'VALOR_\nOBRA': 'VALOR OBRA',
 'FECHA_\nCORTE': 'FECHA CORTE'}

In [36]:
change3={old:new for old,new in zip(OBRAnColumns,OBRAnColumns3)}
change3

{'\nTIPO_OBRA': 'TIPO OBRA'}

In [37]:
change4={old:new for old,new in zip(RUCnColumns,RUCnColumns4)}
change4

{'RUC_GOBIERNO\n_LOCAL': 'RUC GOBIERNO LOCAL'}

In [38]:
change.update(change2)
change

{'NOMBRE_UO': 'NOMBRE UO',
 'GOBIERNO_LOCAL': 'GOBIERNO LOCAL',
 'UBICACION_PREDIO': 'UBICACION PREDIO',
 'TIPO_DE_USO': 'TIPO DE USO',
 'TIPO_ALTURA': 'TIPO ALTURA',
 'DETALLE_ALTURA': 'DETALLE ALTURA',
 'CODIGO_\nENTIDAD': 'CODIGO ENTIDAD',
 'CODIGO_\nUBIGEO': 'CODIGO UBIGEO',
 'CODIGO_\nPAIS': 'CODIGO PAIS',
 'NUMERO_\nEXPEDIENTE': 'NUMERO EXPEDIENTE',
 'FECHA_\nINICIO_\nTRAMITE': 'FECHA INICIO TRAMITE',
 'FECHA_\nEMISION_TRAMITE': 'FECHA EMISION TRAMITE',
 'NRO_RESOLUCION_\nLICENCIA': 'NRO RESOLUCION LICENCIA',
 'TIPO_DOC_\nSOLICITANTE': 'TIPO DOC SOLICITANTE',
 'NRO_DOC_\nSOLICITANTE': 'NRO DOC SOLICITANTE',
 'ZONIFICACION_\nPREDIO': 'ZONIFICACION PREDIO',
 'MODALIDAD_\nAPROBACION': 'MODALIDAD APROBACION',
 'OBRA_\nNUEVA': 'OBRA NUEVA',
 'OBRA_\nDEMOLICIÓN ': 'OBRA DEMOLICIÓN',
 'OBRA_\nREMODELACIÓN ': 'OBRA REMODELACIÓN',
 'OBRA_\nAMPLIACIÓN ': 'OBRA AMPLIACIÓN',
 'OBRA_\nREFACCIÓN ': 'OBRA REFACCIÓN',
 'OBRA_\nCERCO ': 'OBRA CERCO',
 'AREA_TOTAL_\nCONSTRUIDA ': 'AREA TOTAL CONSTRUIDA',
 'VALOR_\nOBRA': 'VALOR OBRA',
 'FECHA_\nCORTE': 'FECHA CORTE'}

In [39]:
change.update(change3)
change

{'NOMBRE_UO': 'NOMBRE UO',
 'GOBIERNO_LOCAL': 'GOBIERNO LOCAL',
 'UBICACION_PREDIO': 'UBICACION PREDIO',
 'TIPO_DE_USO': 'TIPO DE USO',
 'TIPO_ALTURA': 'TIPO ALTURA',
 'DETALLE_ALTURA': 'DETALLE ALTURA',
 'CODIGO_\nENTIDAD': 'CODIGO ENTIDAD',
 'CODIGO_\nUBIGEO': 'CODIGO UBIGEO',
 'CODIGO_\nPAIS': 'CODIGO PAIS',
 'NUMERO_\nEXPEDIENTE': 'NUMERO EXPEDIENTE',
 'FECHA_\nINICIO_\nTRAMITE': 'FECHA INICIO TRAMITE',
 'FECHA_\nEMISION_TRAMITE': 'FECHA EMISION TRAMITE',
 'NRO_RESOLUCION_\nLICENCIA': 'NRO RESOLUCION LICENCIA',
 'TIPO_DOC_\nSOLICITANTE': 'TIPO DOC SOLICITANTE',
 'NRO_DOC_\nSOLICITANTE': 'NRO DOC SOLICITANTE',
 'ZONIFICACION_\nPREDIO': 'ZONIFICACION PREDIO',
 'MODALIDAD_\nAPROBACION': 'MODALIDAD APROBACION',
 'OBRA_\nNUEVA': 'OBRA NUEVA',
 'OBRA_\nDEMOLICIÓN ': 'OBRA DEMOLICIÓN',
 'OBRA_\nREMODELACIÓN ': 'OBRA REMODELACIÓN',
 'OBRA_\nAMPLIACIÓN ': 'OBRA AMPLIACIÓN',
 'OBRA_\nREFACCIÓN ': 'OBRA REFACCIÓN',
 'OBRA_\nCERCO ': 'OBRA CERCO',
 'AREA_TOTAL_\nCONSTRUIDA ': 'AREA TOTAL CONSTRUIDA',
 'VALOR_\nOBRA': 'VALOR OBRA',
 'FECHA_\nCORTE': 'FECHA CORTE',
 '\nTIPO_OBRA': 'TIPO OBRA'}

In [40]:
change.update(change4)
change

{'NOMBRE_UO': 'NOMBRE UO',
 'GOBIERNO_LOCAL': 'GOBIERNO LOCAL',
 'UBICACION_PREDIO': 'UBICACION PREDIO',
 'TIPO_DE_USO': 'TIPO DE USO',
 'TIPO_ALTURA': 'TIPO ALTURA',
 'DETALLE_ALTURA': 'DETALLE ALTURA',
 'CODIGO_\nENTIDAD': 'CODIGO ENTIDAD',
 'CODIGO_\nUBIGEO': 'CODIGO UBIGEO',
 'CODIGO_\nPAIS': 'CODIGO PAIS',
 'NUMERO_\nEXPEDIENTE': 'NUMERO EXPEDIENTE',
 'FECHA_\nINICIO_\nTRAMITE': 'FECHA INICIO TRAMITE',
 'FECHA_\nEMISION_TRAMITE': 'FECHA EMISION TRAMITE',
 'NRO_RESOLUCION_\nLICENCIA': 'NRO RESOLUCION LICENCIA',
 'TIPO_DOC_\nSOLICITANTE': 'TIPO DOC SOLICITANTE',
 'NRO_DOC_\nSOLICITANTE': 'NRO DOC SOLICITANTE',
 'ZONIFICACION_\nPREDIO': 'ZONIFICACION PREDIO',
 'MODALIDAD_\nAPROBACION': 'MODALIDAD APROBACION',
 'OBRA_\nNUEVA': 'OBRA NUEVA',
 'OBRA_\nDEMOLICIÓN ': 'OBRA DEMOLICIÓN',
 'OBRA_\nREMODELACIÓN ': 'OBRA REMODELACIÓN',
 'OBRA_\nAMPLIACIÓN ': 'OBRA AMPLIACIÓN',
 'OBRA_\nREFACCIÓN ': 'OBRA REFACCIÓN',
 'OBRA_\nCERCO ': 'OBRA CERCO',
 'AREA_TOTAL_\nCONSTRUIDA ': 'AREA TOTAL CONSTRUIDA',
 'VALOR_\nOBRA': 'VALOR OBRA',
 'FECHA_\nCORTE': 'FECHA CORTE',
 '\nTIPO_OBRA': 'TIPO OBRA',
 'RUC_GOBIERNO\n_LOCAL': 'RUC GOBIERNO LOCAL'}

In [41]:
change

{'NOMBRE_UO': 'NOMBRE UO',
 'GOBIERNO_LOCAL': 'GOBIERNO LOCAL',
 'UBICACION_PREDIO': 'UBICACION PREDIO',
 'TIPO_DE_USO': 'TIPO DE USO',
 'TIPO_ALTURA': 'TIPO ALTURA',
 'DETALLE_ALTURA': 'DETALLE ALTURA',
 'CODIGO_\nENTIDAD': 'CODIGO ENTIDAD',
 'CODIGO_\nUBIGEO': 'CODIGO UBIGEO',
 'CODIGO_\nPAIS': 'CODIGO PAIS',
 'NUMERO_\nEXPEDIENTE': 'NUMERO EXPEDIENTE',
 'FECHA_\nINICIO_\nTRAMITE': 'FECHA INICIO TRAMITE',
 'FECHA_\nEMISION_TRAMITE': 'FECHA EMISION TRAMITE',
 'NRO_RESOLUCION_\nLICENCIA': 'NRO RESOLUCION LICENCIA',
 'TIPO_DOC_\nSOLICITANTE': 'TIPO DOC SOLICITANTE',
 'NRO_DOC_\nSOLICITANTE': 'NRO DOC SOLICITANTE',
 'ZONIFICACION_\nPREDIO': 'ZONIFICACION PREDIO',
 'MODALIDAD_\nAPROBACION': 'MODALIDAD APROBACION',
 'OBRA_\nNUEVA': 'OBRA NUEVA',
 'OBRA_\nDEMOLICIÓN ': 'OBRA DEMOLICIÓN',
 'OBRA_\nREMODELACIÓN ': 'OBRA REMODELACIÓN',
 'OBRA_\nAMPLIACIÓN ': 'OBRA AMPLIACIÓN',
 'OBRA_\nREFACCIÓN ': 'OBRA REFACCIÓN',
 'OBRA_\nCERCO ': 'OBRA CERCO',
 'AREA_TOTAL_\nCONSTRUIDA ': 'AREA TOTAL CONSTRUIDA',
 'VALOR_\nOBRA': 'VALOR OBRA',
 'FECHA_\nCORTE': 'FECHA CORTE',
 '\nTIPO_OBRA': 'TIPO OBRA',
 'RUC_GOBIERNO\n_LOCAL': 'RUC GOBIERNO LOCAL'}

In [42]:
df_ordenado.rename(columns=change,inplace=True)
df_ordenado.head()

,CODIGO ENTIDAD,CODIGO UBIGEO,CODIGO PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,NOMBRE UO,GOBIERNO LOCAL,RUC GOBIERNO LOCAL,NUMERO EXPEDIENTE,...,TIPO OBRA,OBRA NUEVA,OBRA DEMOLICIÓN,OBRA REMODELACIÓN,OBRA AMPLIACIÓN,OBRA REFACCIÓN,OBRA CERCO,AREA TOTAL CONSTRUIDA,VALOR OBRA,FECHA CORTE
0,301285,150136,PE,Lima,Lima,San Miguel,Subgerencia de Obras Privadas,San Miguel,20131372184,15636-2022,...,AMPLIACIÓN/REMODELACIÓN,-,-,"97,83","208,46",-,-,"208,46","225,652,12",20221231
115,301285,150136,PE,Lima,Lima,San Miguel,Subgerencia de Obras Privadas,San Miguel,20131372184,7494-2022,...,LICENCIA DE DEMOLICION TOTAL,-,200,-,-,-,-,-,45455.7,20221231
116,301285,150136,PE,Lima,Lima,San Miguel,Subgerencia de Obras Privadas,San Miguel,20131372184,3732-2022,...,LICENCIA DE EDIFICACION NUEVA,1688.79,-,-,-,-,-,1688.79,1561032.09,20221231
117,301285,150136,PE,Lima,Lima,San Miguel,Subgerencia de Obras Privadas,San Miguel,20131372184,3947-2022,...,LICENCIA DE EDIFICACION NUEVA,1950.08,-,-,-,-,-,1950.08,1885715.08,20221231
118,301285,150136,PE,Lima,Lima,San Miguel,Subgerencia de Obras Privadas,San Miguel,20131372184,3372-2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221231

Warning: Total number of columns (31) exceeds max_columns (20) limiting to first (20) columns.

## 2. Clean the data values.

Since there are categories, we could try some frequency tables:

In [50]:
df_ordenado.columns

Index(['CODIGO ENTIDAD', 'CODIGO UBIGEO', 'CODIGO PAIS', 'DEPARTAMENTO',
       'PROVINCIA', 'DISTRITO', 'NOMBRE UO', 'GOBIERNO LOCAL',
       'RUC GOBIERNO LOCAL', 'NUMERO EXPEDIENTE', 'FECHA INICIO TRAMITE',
       'FECHA EMISION TRAMITE', 'NRO RESOLUCION LICENCIA',
       'TIPO DOC SOLICITANTE', 'NRO DOC SOLICITANTE', 'UBICACION PREDIO',
       'ZONIFICACION PREDIO', 'TIPO DE USO', 'TIPO ALTURA', 'DETALLE ALTURA',
       'MODALIDAD APROBACION', 'TIPO OBRA', 'OBRA NUEVA', 'OBRA DEMOLICIÓN',
       'OBRA REMODELACIÓN', 'OBRA AMPLIACIÓN', 'OBRA REFACCIÓN', 'OBRA CERCO',
       'AREA TOTAL CONSTRUIDA', 'VALOR OBRA', 'FECHA CORTE'],
      dtype='object')

Código Entidad

In [76]:
df_ordenado['CODIGO ENTIDAD'].value_counts(dropna=False).sort_index()

301285    180
Name: CODIGO ENTIDAD, dtype: int64

Código Ubigeo

In [77]:
df_ordenado['CODIGO UBIGEO'].value_counts(dropna=False).sort_index()

150136    180
Name: CODIGO UBIGEO, dtype: int64

Código País

In [78]:
df_ordenado['CODIGO PAIS'].value_counts(dropna=False).sort_index()

PE    180
Name: CODIGO PAIS, dtype: int64

Departamento

In [79]:
df_ordenado['DEPARTAMENTO'].value_counts(dropna=False).sort_index()

Lima    180
Name: DEPARTAMENTO, dtype: int64

Provincia

In [80]:
df_ordenado['PROVINCIA'].value_counts(dropna=False).sort_index()

Lima    180
Name: PROVINCIA, dtype: int64

Distrito

In [81]:
df_ordenado['DISTRITO'].value_counts(dropna=False).sort_index()

San Miguel    180
Name: DISTRITO, dtype: int64

Nombre Unidad Orgánica

In [82]:
df_ordenado['NOMBRE UO'].value_counts(dropna=False).sort_index()

Subgerencia de Obras Privadas    180
Name: NOMBRE UO, dtype: int64

Gobierno Local

In [83]:
df_ordenado['GOBIERNO LOCAL'].value_counts(dropna=False).sort_index()

San Miguel    180
Name: GOBIERNO LOCAL, dtype: int64

RUC Gobierno Local

In [84]:
df_ordenado['RUC GOBIERNO LOCAL'].value_counts(dropna=False).sort_index()

20131372184    180
Name: RUC GOBIERNO LOCAL, dtype: int64

Número Expediente

In [85]:
df_ordenado['NUMERO EXPEDIENTE'].value_counts(dropna=False).sort_index()

00279-2022    1
059-2021      1
0637-2022     1
10019-2022    1
10101-2022    1
             ..
9419-2022     1
9457-2022     1
9485-2022     1
9767-2021     1
9935-2022     1
Name: NUMERO EXPEDIENTE, Length: 179, dtype: int64

Número de la resolución de licencia

In [90]:
df_ordenado['NRO RESOLUCION LICENCIA'] = df_ordenado['NRO RESOLUCION LICENCIA'].astype(str)

In [91]:
df_ordenado['NRO RESOLUCION LICENCIA'].value_counts(dropna=False).sort_index()

0053-2022    1
0069-2022    1
0072-2022    1
009-2022     1
040-2022     1
            ..
97-2022      1
991-2022     1
994-2022     1
995-2022     1
nan          9
Name: NRO RESOLUCION LICENCIA, Length: 171, dtype: int64

Tipo Documento Solicitante

In [52]:
df_ordenado['TIPO DOC SOLICITANTE'].value_counts(dropna=False).sort_index()

DNI     59
DNI      4
RDA      1
RUC     71
RUC     16
NaN     29
Name: TIPO DOC SOLICITANTE, dtype: int64

In [56]:
df_ordenado['TIPO DOC SOLICITANTE'] = df_ordenado['TIPO DOC SOLICITANTE'].str.strip()

In [58]:
df_ordenado['TIPO DOC SOLICITANTE'].value_counts(dropna=False).sort_index()

DNI    63
RDA     1
RUC    87
nan    29
Name: TIPO DOC SOLICITANTE, dtype: int64

Número Documento Solicitante

In [96]:
df_ordenado['NRO DOC SOLICITANTE'] = pd.to_numeric(df_ordenado['NRO DOC SOLICITANTE'], errors='coerce')
df_ordenado= df_ordenado.dropna(subset=['NRO DOC SOLICITANTE'])
df_ordenado['NRO DOC SOLICITANTE'].astype(int)

0      20514554014
115    20608254421
116     2054867913
117    20555184086
119    20605597204
          ...
61         6862888
63     20604661880
64     20604661880
66     20600986164
179    20605359737
Name: NRO DOC SOLICITANTE, Length: 117, dtype: int64

In [97]:
df_ordenado['NRO DOC SOLICITANTE'].value_counts(dropna=False).sort_index()

8.777210e+05    1
6.055174e+06    1
6.134161e+06    1
6.720981e+06    1
6.862888e+06    1
               ..
2.060887e+10    1
2.060889e+10    2
2.060893e+10    1
2.060906e+10    1
2.050000e+11    1
Name: NRO DOC SOLICITANTE, Length: 89, dtype: int64

Ubicación Predio

In [59]:
df_ordenado['UBICACION PREDIO'].value_counts(dropna=False).sort_index()

                                        1
 CAMINOS DEL INCA  271                  1
 FRANCISCA ZUBIAGA  279                 1
 MICAELA BASTIDAS 388                   1
 PASCUAL ANDAGOYA 393                   1
                                       ..
PASAJE  VIRGEN DE FATIMA  233 -- -      1
PASAJE BAHIA SAN JUAN 170 -L2 7         1
PASAJE LAS ROSAS 179 -- -               1
PASAJE PASAJE COMÚN  261-289 A- C-15    1
PASAJE UNO - -A 14                      1
Name: UBICACION PREDIO, Length: 176, dtype: int64

In [60]:
df_ordenado['UBICACION PREDIO'] = df_ordenado['UBICACION PREDIO'].str.strip()

In [61]:
df_ordenado['UBICACION PREDIO'].value_counts(dropna=False).sort_index()

                                        1
AV COSTANERA  2982 - -                  1
AV COSTANERA 2560 -- -                  1
AV LA MARINA  2115 -- -                 1
AV LA MARINA  2201-2235 -P-1-2 40429    1
                                       ..
PASAJE BAHIA SAN JUAN 170 -L2 7         1
PASAJE LAS ROSAS 179 -- -               1
PASAJE PASAJE COMÚN  261-289 A- C-15    1
PASAJE UNO - -A 14                      1
PASCUAL ANDAGOYA 393                    1
Name: UBICACION PREDIO, Length: 176, dtype: int64

Zonificación Predio

In [62]:
df_ordenado['ZONIFICACION PREDIO'].value_counts(dropna=False).sort_index()

CM            4
CZ            7
CZ            1
E1            3
RDA          20
RDA Y RDM     1
RDM          99
RDM          14
RDM-CV        1
NaN          30
Name: ZONIFICACION PREDIO, dtype: int64

In [63]:
df_ordenado['ZONIFICACION PREDIO'] = df_ordenado['ZONIFICACION PREDIO'].str.strip()

In [64]:
df_ordenado['ZONIFICACION PREDIO'].value_counts(dropna=False).sort_index()

CM             4
CZ             8
E1             3
RDA           20
RDA Y RDM      1
RDM          113
RDM-CV         1
NaN           30
Name: ZONIFICACION PREDIO, dtype: int64

Tipo de Uso

In [65]:
df_ordenado['TIPO DE USO'].value_counts(dropna=False).sort_index()

CERCO                                                 1
COMERCIO                                              6
COMERCIO                                              6
CONJUNTO RESIDENCIAL                                  4
E1                                                    1
EDIFICIO MULTIFAMILIAR - MODIFICACION DE PROYECTO     1
EDUCACION                                             1
MULTIFAMILIAR                                        48
MULTIFAMILIAR                                         7
MULTIFAMILIAR - COMERCIO                              2
TERRENO                                               1
UNIFAMILIAR                                          12
VIIENDA UNIFAMILIAR                                   2
VIV.MULTIFAMILIAR                                     1
VIVIENA UNIFAMILIAR                                   1
VIVIENDA - COMERCIO                                   2
VIVIENDA MULTIFAMILIAR                               22
VIVIENDA MULTIFAMILIAR                                1
VIVIENDA UNIFAMILIAR                                 21
VIVIENDA UNIFAMILIAR                                  9
VIVIUENDA UNIFAMILIAR                                 1
NaN                                                  30
Name: TIPO DE USO, dtype: int64

In [66]:
df_ordenado['TIPO DE USO'] = df_ordenado['TIPO DE USO'].str.strip()

In [67]:
df_ordenado['TIPO DE USO'].value_counts(dropna=False).sort_index()

CERCO                                                 1
COMERCIO                                             12
CONJUNTO RESIDENCIAL                                  4
E1                                                    1
EDIFICIO MULTIFAMILIAR - MODIFICACION DE PROYECTO     1
EDUCACION                                             1
MULTIFAMILIAR                                        55
MULTIFAMILIAR - COMERCIO                              2
TERRENO                                               1
UNIFAMILIAR                                          12
VIIENDA UNIFAMILIAR                                   2
VIV.MULTIFAMILIAR                                     1
VIVIENA UNIFAMILIAR                                   1
VIVIENDA - COMERCIO                                   2
VIVIENDA MULTIFAMILIAR                               23
VIVIENDA UNIFAMILIAR                                 30
VIVIUENDA UNIFAMILIAR                                 1
NaN                                                  30
Name: TIPO DE USO, dtype: int64

In [72]:
def UNIFORMIDAD(FAMILIA):
    if pd.isnull(FAMILIA):
        return FAMILIA
    FAMILIA = FAMILIA.upper()
    if 'UNIFAMILIAR' in FAMILIA:
        return 'UNIFAMILIAR'
    elif 'MULTIFAMILIAR' in FAMILIA:
        return 'MULTIFAMILIAR'
    elif "COMERCIO" in FAMILIA:
        return "COMERCIO"
    else:
        return FAMILIA

df_ordenado['TIPO DE USO NORMALIZADO'] = df_ordenado['TIPO DE USO'].apply(UNIFORMIDAD)

df_ordenado['TIPO DE USO NORMALIZADO'].value_counts(dropna=False).sort_index()

CERCO                    1
COMERCIO                14
CONJUNTO RESIDENCIAL     4
E1                       1
EDUCACION                1
MULTIFAMILIAR           82
TERRENO                  1
UNIFAMILIAR             46
NaN                     30
Name: TIPO DE USO NORMALIZADO, dtype: int64

Tipo de Altura

In [73]:
df_ordenado['TIPO ALTURA'].value_counts(dropna=False).sort_index()

PISOS      33
PISOS     147
Name: TIPO ALTURA, dtype: int64

In [74]:
df_ordenado['TIPO ALTURA'] = df_ordenado['TIPO ALTURA'].str.strip()

In [75]:
df_ordenado['TIPO ALTURA'].value_counts(dropna=False).sort_index()

PISOS    180
Name: TIPO ALTURA, dtype: int64

Detalle altura

In [111]:
df_ordenado['DETALLE ALTURA'] = df_ordenado['DETALLE ALTURA'].astype(str)

<ipython-input-111-d1df824774e1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['DETALLE ALTURA'] = df_ordenado['DETALLE ALTURA'].astype(str)

In [112]:
df_ordenado['DETALLE ALTURA'].value_counts(dropna=False).sort_index()

 3 PISOS + AZOTEA                  1
0                                  1
1 PISO                             6
1 PISO                             3
1 SOTANO+7 PISOS+AZOTEA            1
                                  ..
SOTANO+SEMISOTANO+6P+AZ            1
SOTANO+SEMISOTANO+6PISOS+AZOTEA    1
SOTANO+SEMISOTANO+8P+AZ            1
SOTANO+SEMISOTANO+8PISOS           1
nan                                1
Name: DETALLE ALTURA, Length: 67, dtype: int64

In [113]:
df_ordenado['DETALLE ALTURA'] = df_ordenado['DETALLE ALTURA'].str.strip()

<ipython-input-113-119e336db31f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['DETALLE ALTURA'] = df_ordenado['DETALLE ALTURA'].str.strip()

In [114]:
df_ordenado['DETALLE ALTURA'].value_counts(dropna=False).sort_index()

0                                  1
1 PISO                             9
1 SOTANO+7 PISOS+AZOTEA            1
11P+AZ                             1
13:00:00                           1
                                  ..
SOTANO+SEMISOTANO+6P+AZ            1
SOTANO+SEMISOTANO+6PISOS+AZOTEA    1
SOTANO+SEMISOTANO+8P+AZ            1
SOTANO+SEMISOTANO+8PISOS           1
nan                                1
Name: DETALLE ALTURA, Length: 64, dtype: int64

In [115]:
def ALTURA(DETALLE):
    if '1P' in DETALLE:
        return '1 PISO'
    elif '2P' in DETALLE:
        return '2 PISOS'
    elif "3P" in DETALLE:
        return "3 PISOS"
    elif "4P" in DETALLE:
        return "4 PISOS"
    elif "5P" in DETALLE:
        return "5 PISOS"
    else:
        return DETALLE

df_ordenado['DETALLE ALTURA'] = df_ordenado['DETALLE ALTURA'].apply(ALTURA)

df_ordenado['DETALLE ALTURA'].value_counts(dropna=False).sort_index()

<ipython-input-115-7aef595a0c24>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['DETALLE ALTURA'] = df_ordenado['DETALLE ALTURA'].apply(ALTURA)

0                                              1
1 PISO                                        14
1 SOTANO+7 PISOS+AZOTEA                        1
13:00:00                                       1
1SOTANO+17PISOS+AZOTEA                         1
2 PISO                                         1
2 PISOS                                       18
2 PISOS + AZ                                   1
2 PISOS + AZOTEA                               4
2 SOTANOS + 7 PISOS + AZOTEA                   1
2 SOTANOS + SEMISOTANO + 10 PISOS + AZOTEA     1
2 SOTANOS+17P+AZ                               1
2SOT.+16PISOS+AZO.                             1
2SOTANOS+7PISOS+AZOTEA                         1
3 PISO                                         1
3 PISOS                                       14
3 PISOS + AZOTEA                               4
3 SOT,+20 PISOS+AZOTEA                         1
3 SOT.+18 PISOS+AZO.                           1
3 SÓTANOS + 9 PISOS + AZOTEA                   1
4 PISOS                                        3
4 PISOS + AZOTEA                               2
4 SOT.+17 PISOS+AZOTEA                         3
4 SOT.+20 PISOS+AZO.                           1
4 SOTANOS+18 PISOS+AZOTEA                      1
4SOTANOS +20PISOS+AZOTEA                       1
4SOTANOS+8 PISOS+AZOTEA                        1
4SOTANOS+SEMISOTANO+20PISOS+AZOTEA             1
5 PISOS                                        2
5 PISOS + AZOTEA                               8
5 PISOS +AZO.                                  1
5 SOTANOS + 17P+AZ                             1
5 SOTANOS+5 PISOS+5MEZANINES+AZOTEA            2
5SOT,+17PISOS+AZO.                             2
5SOT.+20 PISOS + AZO.                          1
6 PISOS+AZOTEA                                 1
6P                                             1
6PISOS + SÓTANO                                1
9 PISOS + AZOTEA                               1
SEMISOTANO + 4 PISOS + AZOTEA                  1
SEMISOTANO + 6 PISOS + AZOTEA                  1
SEMISOTANO + 9 PISOS + AZOTEA                  1
SEMISOTANO+6 PISOS                             1
SEMISOTANO+9PISOS                              1
SOT. + 10PISOS + AZO.                          1
SOT.+SEMISOTANO+6PISOS+AZOTEA                  1
SOTANO + 7 PISOS + AZOTEA                      1
SOTANO+8PISOS+AZOTEA                           1
SOTANO+SEMISOTANO+6P+AZ                        1
SOTANO+SEMISOTANO+6PISOS+AZOTEA                1
SOTANO+SEMISOTANO+8P+AZ                        1
SOTANO+SEMISOTANO+8PISOS                       1
nan                                            1
Name: DETALLE ALTURA, dtype: int64

In [124]:
def ALTURA2(DETALLE2):
    if '1 PISO' in DETALLE2:
        return '1 PISO'
    elif '2 PISO' in DETALLE2:
        return '2 PISOS'
    elif "3 PISO" in DETALLE2:
        return "3 PISOS"
    elif "4 PISO" in DETALLE2:
        return "4 PISOS"
    elif "5 PISO" in DETALLE2:
        return "5 PISOS"
    elif "6P" in DETALLE2:
        return "6 PISOS"
    elif "6 PISO" in DETALLE2:
        return "6 PISOS"
    elif "7 PISO" in DETALLE2:
        return "7 PISOS"
    elif "7P" in DETALLE2:
        return "7 PISOS"
    elif "8 PISO" in DETALLE2:
        return "8 PISOS"
    elif "8P" in DETALLE2:
        return "8 PISOS"
    elif "9 PISO" in DETALLE2:
        return "9 PISOS"
    elif "9P" in DETALLE2:
        return "9 PISOS"
    elif "10 PISO" in DETALLE2:
        return "10 PISOS"
    elif "10P" in DETALLE2:
        return "10 PISOS"
    elif "11 PISO" in DETALLE2:
        return "11 PISOS"
    elif "12 PISO" in DETALLE2:
        return "12 PISOS"
    elif "13 PISO" in DETALLE2:
        return "13 PISOS"
    elif "14 PISO" in DETALLE2:
        return "14 PISOS"
    elif "15 PISO" in DETALLE2:
        return "15 PISOS"
    elif "16 PISO" in DETALLE2:
        return "16 PISOS"
    elif "17 PISO" in DETALLE2:
        return "17 PISOS"
    elif "17P" in DETALLE2:
        return "17 PISOS"
    elif "20 PISOS" in DETALLE2:
        return "20 PISOS"
    elif "20P" in DETALLE2:
        return "20 PISOS"
    elif "13:0" in DETALLE2:
        return ""
    else:
        return DETALLE2

df_ordenado['DETALLE ALTURA'] = df_ordenado['DETALLE ALTURA'].apply(ALTURA2)

df_ordenado['DETALLE ALTURA'].value_counts(dropna=False).sort_index()

<ipython-input-124-4afbfe904ac7>:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['DETALLE ALTURA'] = df_ordenado['DETALLE ALTURA'].apply(ALTURA2)

             1
0            1
1 PISO      14
10 PISOS     2
2 PISOS     24
20 PISOS     5
3 PISOS     19
4 PISOS      6
5 PISOS     13
6 PISOS      9
7 PISOS     12
8 PISOS      6
9 PISOS      4
nan          1
Name: DETALLE ALTURA, dtype: int64

The categories are well written.

Let's see the numeric columns. Let's identify cell that do not have numeric strings:

In [ ]:
set(freedom.FitW_score[~freedom.FitW_score.str.contains('^\\d+\\.*\\d*$')])

Then, we can generalize:

In [ ]:
badValues=[]
for col in acronyms_score:
    currentBad=freedom.loc[:,col][~freedom.loc[:,col].str.contains('^\\d+\\.*\\d*$')]
    badValues.extend(currentBad)

badValues=list(set(badValues))
badValues

We will need to replace those values with a proper missing value:

In [ ]:
import numpy as np

freedom.replace(to_replace=badValues, value=np.nan,inplace=True)

In [ ]:
freedom.info()

Let's keep the complete data:

In [ ]:
freedom.dropna(how='any',axis=0,inplace=True # keep complete
               ) # reset index

freedom

In [ ]:
freedom.reset_index(drop=True,inplace=True)
freedom

## 3. Check key column

In [ ]:
freedom.Country

In [ ]:
# to upper case and no trailing or leading spaces
freedom.Country.str.upper().str.strip()

In [ ]:
freedom['Country']=freedom.Country.str.upper().str.strip()

## 4. Save output

In [ ]:
freedom.to_csv('freedom_Py.csv',index=False)

In [ ]:
freedom